extends ../layout

block content
    h1.
        Infophoto #{price._id}
    p stock_id: #{price.stock_id }
    p date: #{pricedate }
    p adj_close: #{price.adj_close }
    p close: #{price.close }
    p high: #{price.high }
    p low: #{price.low }
    p open: #{price.open }
    p volume: #{price.volume }
